/* || RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* || VARIABLES */
:root {
  /* FONTS */
  --FF: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  --FF-HEADINGS: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  --FS: clamp(1rem, 2.2vh, 1.5rem);

  /* COLORS */
  --BGCOLOR: #333;
  --BORDER-COLOR: #333;
  --BUTTON-COLOR: #333;
  --BUTTON-HOVER-COLOR: #555;
  --FONT-COLOR: whitesmoke;
  --HIGHLIGHT-COLOR: #555;
  --HEADER-BGCOLOR: #555;
  --HEADER-FONT-COLOR: whitesmoke;
  --LINK-ACTIVE: #555;
  --LINK-COLOR: whitesmoke;
  --LINK-HOVER: #555;
  --NAV-BGCOLOR: #555;

  /* BORDERS */
  --BORDERS: 1px solid var(--BORDER-COLOR);
  --BORDER-RADIUS: 15px;

  /* STANDARD PADDING */
  --PADDING-TB: 0.5rem;
  --PADDING-SIDE: 0.5rem;

  /* STANDARD MARGINS */
  --MARGIN: clamp(1em, 2.5vh, 1.5em) 0;
}

/* INSERT LIGHT MODE COLORS HERE */

/* || UTILITY CLASSES */
.offscreen {
  position: absolute;
  left: -10000px;
}

.nowrap {
  white-space: nowrap;
}

.center {
  text-align: center;
}

/* || GENERAL STYLES */
html {
  scroll-behavior: smooth;
  background-color: var(--BGCOLOR);
  color: var(--FONT-COLOR);
  font-family: var(--FF);
  font-size: var(--FS);
  line-height: 1.5;
  margin: var(--PADDING-TB) var(--PADDING-SIDE);
  padding: var(--PADDING-TB) var(--PADDING-SIDE);
}

body {
  background-color: var(--BGCOLOR);
  color: var(--FONT-COLOR);
  font-family: var(--FF);
  font-size: var(--FS);
  line-height: 1.5;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

h1,
h2,
h3 {
  font-family: var(--FF-HEADINGS);
  color: var(--HEADER-FONT-COLOR);
}

h2,
h3 {
  margin-bottom: var(--PADDING-TB);
}

a:any-link {
  color: var(--LINK-COLOR);
}

a:hover,
a:focus-visible {
  color: var(--LINK-HOVER);
}

a:active {
  color: var(--LINK-ACTIVE);
}

ul {
  list-style: none;
}

/* || HOME */
.home__container {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
}
