<h3>Activity Feed</h3>

<main class="feed__container">
  {% for room in rooms %}
  <article>
    {% if request.user == room.host %}
    <p><a href="{% url 'update-room' room.id %}">Update</a></p>
    <p><a href="{% url 'delete-room' room.id %}">Delete</a></p>
    {% endif %}
    <a href="{% url 'user-profile' room.host.id %}">@{{room.host.username}}</a>
    <h3>
      {{room.id}} -- <a href="{% url 'room' room.id %}"> {{ room.name }}</a>
    </h3>
    <p>{{room.topic.name}}</p>
  </article>

  {% endfor %}
</main>
