{% extends "main.html" %} {% block content %}

{% comment %} begin grid container {% endcomment %}
<div class="grid__container">
  <header class="header">
    <h1>StudyBud</h1>
    <h2><a href="{% url 'create-room' %}"> Create Room</a></h2>
  </header>

  <aside class="sidebar">
    <h3>Browse Topics</h3>

    <ul>
      <li><a href="{% url 'home' %}">All</a></li>
      {% for topic in topics %}
      <li><a href="{% url 'home' %}?q={{topic.name}}">{{topic.name}}</a></li>
    </ul>
    {% endfor %}
  </aside>

  <main class="main">
    <h3>{{room_count}} room{{room_count|pluralize}} available</h3>
    {% for room in rooms %}
    <article>
      {% if request.user == room.host %}
      <p><a href="{% url 'update-room' room.id %}">Update</a></p>
      <p><a href="{% url 'delete-room' room.id %}">Delete</a></p>
      {% endif %}
      <p>@{{room.host.username}}</p>
      <h3>
        {{room.id}} -- <a href="{% url 'room' room.id %}"> {{ room.name }}</a>
      </h3>
      <p>{{room.topic.name}}</p>
    </article>

    {% endfor %}
  </main>
</div>
{% comment %} end grid container {% endcomment %} {% endblock %}
