{% extends "main.html" %} {% block content %}

<div class="home__container">
  <header class="header">
    <h1>StudyBud</h1>
    <h2><a href="{% url 'create-room' %}"> Create Room</a></h2>
  </header>

  <aside class="sidebar">{% include 'base/topics_component.html' %}</aside>

  <main class="main">
    <h3>{{room_count}} room{{room_count|pluralize}} available</h3>
    <a href="{% url 'create-room' %}">Create Room</a>

    {% include 'base/feed_component.html' %}

    <section>{% include 'base/activity_component.html' %}</section>
  </main>
</div>
{% endblock %}
