{% extends "main.html" %}

{% block content %}

<main class="login">
    <form class="login__form" method="POST" action="">{% csrf_token %} {{form.as_p}}

        <label for="username">Username:</label> <input type="text" name="username" placeholder="Enter Username"></label> 
        
        <label for="password">Password:</label>
        <input type="password" name="password" placeholder="Enter Password"> 
        
        <input type="submit" value="Submit">
    
       <p>Need an account?</p>
       <p><a href="{% url 'register' %}">Register</a></p>
    </form>
</main>


{% endblock %}